* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    color: #1c1e12;
    position: relative;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    flex:1;
    width: 100%;
}



.logo {
    position: absolute;
    top:12px;
    left:20px;
}

.left-part {
    flex:1;
    padding-top: 200px;
    text-align: center;
}


.right-part {
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
    font-family: sans-serif;
    border-left: 2px solid lightgray;
    padding: 70px 40px;
    justify-content: center;
}

.right-part input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-bottom: 12px;
}

.right-part button {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 12px;
}



.right-part .create-acc-btn {
    background: #ffffff;
    color: royalblue;
    border: 1px solid royalblue;
}

.right-part .create-acc-btn:hover {
    background-color: #c7d1d8;
}

.login-form {
    margin-bottom: 50px;
}

/* .login-form a {
    display: block;
    text-align: center;
    color: #1c1e12;
    text-decoration: none;
    margin-top: 6px;
} */

.login-form p{
    margin-top: 10px;
}


.login-btn {
    background-color: rgb(16, 87, 142);
    color: white;
    text-align: center;
    border: 1px solid lightgray;
}
.login-btn:hover {
    background-color: #1a7dbd;
}

.forgot-password{
    color: #000000;
    background-color: transparent;
    border: none;
}
.forgot-password:hover{
    background-color: #c5c5c5;
}

.fb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 25px;
    margin-bottom: 20px;
}

.fb a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color:#1c1e12;
    font-size: 14px;
    padding-bottom: 15px;
}
.fb:hover {
    background-color: #cccccc;
}

.other-form {
    border-color: rgb(0, 136, 244);
}

.meta {
    display: flex;
    justify-content:center;
    height: 40px;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #1c1e21;
    font-size: 14px;
}

.footer {
    padding: 20px;
    color: gray;
    text-decoration: none;
    border-top: 1px solid lightgray;
    width: 100%;
    font-size: 12px;
    text-align: center;
}

.footer a{
    color: gray;
    text-decoration: none;
    margin: 8px;
    font-size: 12px;
}

.footer-meta {
    margin: 10px;
}

.gradient {
    background: linear-gradient(to right, orange, red, purple);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline;
}

@media(max-width: 1100px){
    .main-container{
        flex-direction: column;
    }
    .none{
        display: none;
    }
    .left-part .logo{
        justify-content: center;
        width: 100%;
    }
    .left-part {
        padding-top: 0;
    }

    .right-part{
        flex:1;
        border-left: none;
        border-top: 1px solid lightgray;
        width: 100%;
    }

}