* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;

    margin: 0;
}

.login-container {
    display: flex;
    max-width: 900px;
    width: 100%;
    padding: 30px;
    gap:50px;
    align-items: center;
}

.logo {
    color: royalblue;
    font-size: 50px;
    margin-bottom: 10px;
}
.facebook-text {
    font-size: 18px;
    line-height: 28px;
    width: 500px;
}

.form-block {
    background: #ffffff;
    padding: 20px;
    border-radius: 14px;
    width: 400px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddfe2;
    margin-bottom: 12px;
    border-radius: 6px;
    font-size: 17px;
}

.login-btn {
    color: white;
    width: 100%;
    padding: 14px;
    background: #3355c6;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.login-btn:hover {
    background: midnightblue;
}


.forgot-password {
    display: block;
    margin: 15px 0;
    color: #1359da;
    text-decoration: none;
    font-size: 16px;
}

hr {
    margin-bottom: 10px;
}

.create-acc-btn {
    background: #149c4a;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 20px;
    cursor: pointer;
}

.create-acc-btn:hover {
    background: darkgreen;
}

.create-page {
    margin-top: 25px;
    font-size: 14px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 1920px;
    text-align: center;
    padding: 20px;
    background: #ddd;
}

@media (max-width: 800px) {
    .login-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .facebook-text {
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    .form-block {
        width: 100%;
    }

}


